html,
body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #000000;
}

.center-message{
    width: 100%;
    background-color: rgba(183, 0, 0, 0.3);
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    border: 2px rgba(200, 20, 0, 1) solid;
}
.register-box, .confirm-box, .error-box{
  margin-top: 15vh;
  border-radius: 15px;
}
.pass-box, .confirm-box, .error-box{
  color: black;
}
.main-nav-item {
  transition: color 1s, background-color 1s;
}

.main-nav-item:hover {
  color: red !important;
}
.main-nav-item:active,
.main-nav-item:link,
.main-nav-item:visited,
.main-nav-item:hover {
  background-color: transparent !important; /* Can be any colour, not just transparent */
  text-decoration: none;
  cursor: pointer;
}

col-md-6 mt-md-0 mt-3 {
  background-color: #000000;
}
.request-table {
  background-color: white;
}
