{% extends "layout.html" %} {% block title %} Home Page {% endblock %} {% block
head %}
<script>
  Flask.url_for("index");
</script>

{% endblock %} {% block main %}
<section class="module-medium" id="about">
          <div class="jumbotron">
              <div class="container">
            <div class="row">
              <div class="col-sm-8 col-sm-offset-2" class="text-center">
                <h2 class="module-title font-alt">Welcome to the University of Maryland Ticket Exchange</h2>
                <div class="module-subtitle font-serif large-text">We’re a service created by students for students. Our main purpose is to create a space for UMD students to exchange tickets with ease.
                </div>
                  <a class="btn btn-primary btn-sm" href="#" role="button">Click here to see the full list of games »</a>
              </div>
            </div>
          </div>
          </div>
        </section>

<script type="text/javascript"></script>
{% endblock %}
