{% extends "layout.html" %} {% block title %} Home Page {% endblock %} {% block
head %}
<script>
  Flask.url_for("index");
</script>

{% endblock %} {% block main %}
<div class="row featurette">
        <div class="col-md-7 col-centered">
          <h2 class="featurette-heading">Welcome, <span class="text-muted">{{session.user_id}}!</span></h2>
          <p class="lead">Here you can view or delete tickets that you have posted on the exchange. You can also accept or deny requests for tickets from other users.</p>
        </div>
      </div>

<script type="text/javascript"></script>
{% endblock %}
