{% extends "layout.html" %} {% block title %} Home Page {% endblock %} {% block
head %}
<script>
  Flask.url_for("index");
</script>

{% endblock %} {% block main %}
<section class="module-medium" id="about">
  <div class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2 text-center">
          <h2 class="module-title font-alt">
            Welcome to the University of Maryland Ticket Exchange
          </h2>
          <div class="module-subtitle font-serif large-text">
            We’re a service created by students for students. Our main purpose
            is to create a space for UMD students to exchange tickets with ease.
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="well well-lg">
  <div class="panel panel-default text-center">
    <!-- Default panel contents -->
    <div class="panel-heading">Ticket Exchange</div>
    <div class="panel-body">
      <p>Browse all tickets on the exchange</p>
      <p>{{ error }}</p>
    </div>

    <!-- Table -->
    <table class="table table-striped text-center">
      <thead alli>
        <tr>
          <th class="text-center">Event</th>
          <th class="text-center">Date</th>
          <th class="text-center">Sport</th>
          <th class="text-center"># of Tickets</th>
        </tr>
      </thead>
      <tbody>
        {% for game in game_list %}
        <tr>
          <td>{{ game["gameName"] }}</td>
          <td>{{ game["gameDate"] }}</td>
          <td>{{ game["Sport"] }}</td>
          {% if 'tickets' in game %}
          <td>
            <span
              style="padding-right: 12px;font-weight: bold;font-size:15px;"
              >{{ game.tickets | length }}</span
            >
            <a
              onclick="request_ticket('{{ game._id }}')"
              name="requestTicket"
              class="btn btn-primary btn-sm"
              href="#"
              role="button"
              >Request »</a
            >
          </td>
          {% else %}
          <td></td>
        </tr>
        {% endif %} {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<form id="request-form" action="" method="POST" class="hidden"></form>
<script type="text/javascript">
  const request_ticket = ticket_id => {
    const form = document.getElementById("request-form");
    const hiddenInput = document.createElement("input");
    hiddenInput.setAttribute("type", "hidden");
    hiddenInput.setAttribute("name", "ticket_id");
    hiddenInput.setAttribute("value", ticket_id);
    form.appendChild(hiddenInput);
    form.submit();
  };
</script>
{% endblock %}
