{% extends "layout.html" %} {% block title %} register {% endblock %} {% block
head %}
<script>
  Flask.url_for("register");
</script>
{% endblock %} {% block main %}
<div class="container register-content">
  <p style="color:#de4621;margin-left:30%;" class="question-titles">
    {{ error }}
  </p>
  <div class="row">
    <div class="col-sm-4 col-sm-offset-3">
      <form action="{{ url_for('register') }}" method="post">
        <fieldset>
          <div class="form-group">
            <input
              autocomplete="off"
              autofocus
              class="form-control"
              name="username"
              placeholder="Username"
              type="text"
            />
          </div>
          <div class="form-group">
            <input
              class="form-control"
              name="email"
              placeholder="Email"
              type="text"
            />
          </div>
          {#<!--
            <div class="form-group">
              <input
                class="form-control"
                name="name"
                placeholder="First and Last Name"
                type="text"
              />
            </div>
          -->#}

          <div class="form-group">
            <input
              class="form-control"
              id="psw"
              name="password"
              placeholder="Password"
              type="password"
            />
          </div>
          <div class="form-group">
            <input
              class="form-control"
              name="confirm-password"
              placeholder="Confirm Passowrd"
              type="password"
            />
          </div>
          <small style="color: white;font-size: 10px;"
            >By clicking Register, you agree to the <a href="#">Terms</a> and
            that you have read our <a href="#">Data Use Policy.</a></small
          >
          <div class="form-group">
            <button
              name="register"
              class="btn btn-primary btn-sm"
              type="submit"
            >
              Register
            </button>
          </div>
        </fieldset>
      </form>
    </div>

    <div class="col-sm-3 pass-box" id="message">
      <h4 style="color: white" class="register-pass-requirements">
        Password needs:
      </h4>
      <p
        style="color: white"
        id="letter"
        class="register-pass-requirements invalid"
      >
        A <b>lowercase</b> letter
      </p>
      <p
        style="color: white"
        id="capital"
        class="register-pass-requirements invalid"
      >
        A <b>capital (uppercase)</b> letter
      </p>
      <p
        style="color: white"
        id="number"
        class="register-pass-requirements invalid"
      >
        A <b>number</b>
      </p>
      <p
        style="color: white"
        id="length"
        class="register-pass-requirements invalid"
      >
        Minimum <b>8 characters</b>
      </p>
    </div>
  </div>
</div>

<script></script>
<style>
  .form-control {
    width: 100%;
  }
</style>

{% endblock %}
